<section class="py-5">

    <div class="container 2xl:max-w-8xl grid lg:grid-cols-[220px_minmax(0,1fr)_320px] gap-4 items-start">


        <!-- ---------------left sidebar ---------- -->
        <app-sidebar-navigation></app-sidebar-navigation>
        <!-- ----------------content ---------------- -->
        <app-feed-content></app-feed-content>

        <!-- --------------right side bar -------------- -->
        <app-suggested-friends></app-suggested-friends>




    </div>













</section>